<!DOCTYPE html>
<html lang="en">

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta content="#833AB4" name="theme-color" />

    <meta name="twitter:card" content="{{ card }}" />
    <meta name="twitter:title" content="{{ full_name }} (@{{ username }})" />
    <meta name="twitter:image" content="{{ image }}" />

    {% if video is defined %}
    <meta name="twitter:player:width" content="{{ width }}" />
    <meta name="twitter:player:height" content="{{ height }}" />
    <meta name="twitter:player:stream" content="{{ video }}" />
    <meta name="twitter:player:stream:content_type" content="video/mp4" />
    {% endif %}

    <meta property="og:site_name" content="ddInstagram - Media {{ media_num }} / {{ media_total }}">
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:image:width" content="{{ width }}" />
    <meta property="og:image:height" content="{{ height }}" />

    {% if video is defined %}
    <meta property="og:video" content="{{ video }}" />
    <meta property="og:video:secure_url" content="{{ video }}" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="{{ width }}" />
    <meta property="og:video:height" content="{{ height }}" />
    {% endif %}

    <meta name="description" content="{{ description }}" />
    <meta http-equiv="refresh" content="0; url = {{ url }}" />
</head>

<body>
    Redirecting you to the post in a moment. <a href="{{ url }}">Or click here.</a>
</body>

</html>