<!DOCTYPE html>
<html lang="en">

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta content="#CE0071" name="theme-color" />

    {% if card is defined %}
    <meta name="twitter:card" content="{{ card }}" />
    {% endif %}
    {% if title is defined %}
    <meta name="twitter:title" content="{{ title }}" />
    {% endif %}
    {% if image is defined %}
    <meta name="twitter:image" content="{{ image }}" />
    {% endif %}

    {% if video is defined %}
    <meta name="twitter:player:width" content="{{ width }}" />
    <meta name="twitter:player:height" content="{{ height }}" />
    <meta name="twitter:player:stream" content="{{ video }}" />
    <meta name="twitter:player:stream:content_type" content="video/mp4" />
    {% endif %}

    {% if video is defined or image is defined %}
    <!-- Prevent duplicate when 404 -->
    <meta property="og:site_name" content="InstaFix">
    {% endif %}

    <meta property="og:url" content="{{ url }}" />
    <meta property="og:description" content="{{ description }}" />

    {% if image is defined %}
    <meta property="og:image" content="{{ image }}" />
    {% endif %}

    {% if video is defined %}
    <meta property="og:video" content="{{ video }}" />
    <meta property="og:video:secure_url" content="{{ video }}" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="{{ width }}" />
    <meta property="og:video:height" content="{{ height }}" />
    {% endif %}

    <meta name="description" content="{{ description }}" />
    <meta http-equiv="refresh" content="0; url = {{ url }}" />

    {% if video is defined %}
    <link rel="alternate" href="/oembed.json?post_id={{ post_id }}" type="application/json+oembed">
    {% endif %}
</head>

<body>
    Redirecting you to the post in a moment. <a href="{{ url }}">Or click here.</a>
</body>

</html>