<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="InstaFix" />
    <meta property="og:site_name" content="InstaFix" />
    <meta property="og:description" content="Fix Instagram embeds in Discord (and Telegram!)" />
    <title>InstaFix</title>

    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🛠</text></svg>">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    <main class="container" style="max-width: 35rem">
        <hgroup>
            <h1>InstaFix</h1>
            <h2>Fix Instagram embeds in Discord (and Telegram!)</h2>
        </hgroup>
        <p>InstaFix serves fixed Instagram image and video embeds. Heavily inspired by fxtwitter.com.</p>

        <section>
            <header>
                <h3 style="margin-bottom: 4px">How to Use</h3>
                <p>Add dd before instagram.com to fix embeds.</p>
            </header>
            <video
                src="https://user-images.githubusercontent.com/72781956/168544556-31009b0e-62e8-4d4c-909b-434ad146e118.mp4"
                controls="controls" muted="muted" style="width: 100%; max-height: 100%;">
                Your browser does not support the video tag.
            </video>
            <hr>
            <small><a href="https://github.com/Wikidepia/InstaFix" target="_blank">Source code available in
                    GitHub!</a></small>
            <br>
            <small>• Instagram is a trademark of Instagram, Inc. This app is not affiliated with Instagram, Inc.</small>
        </section>
    </main>
</body>

</html>
